@font-face {
  font-family: Koppig1-Regular;
  src: url(/Koppig-font-Regular.ttf);
}

@import url("https://use.typekit.net/afk3nnb.css");

:root{
  --purple: #371d53;
  --yellow: #e2ff75;
  --oker: #dcaf2f;
  --brown: #654400;
  --blue: #7593FF;
  --pink: #fea3ff;
  --grey: #d3d3d3;
  --black: #000;
  --blue2: rgb(214,223,255);
  --yellow2: rgb(246,247,216);
  --pink2: rgb(245,228,240);
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--grey);
  color: var(--black);
  font-family: "new-hero", sans-serif;
 }
 
 a{
  text-decoration: none;
  color: inherit;
 }

 p{
  font-size: 24px;
  line-height: 1.4;
 }

 h2{
  font-size: 48px;
 }
 h3{
  margin: 0;
  width: fit-content;
  margin-top: 2px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 24px;
 }

 p a{
  text-decoration: underline;
 }

 strong{
  font-weight: 500;
 }


.page-title{
  font-weight: 300;
  margin-top: 0px;
  text-align: center;
  font-size: 42px;
  margin-bottom: 24px;
  font-weight: 400;
  font-family: "Koppig1-Regular";
}

.ant{
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
  height: 75vh;
  max-width: 90vw;
  object-fit: contain;
  object-position: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 100px;
  font-family:'Koppig1-Regular';
  font-size: 150px;
  z-index: 2;
  circle, ellipse{
    opacity: 0;
  }
}

.button{
  margin-top: 24px;
  display: block;
  font-weight: bold;
  text-align: right;
  font-family:'Koppig1-Regular';
  font-size: 24px;
}

.agenda{
  margin-top: 72vh;
  padding-bottom: 45px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  overflow: hidden;
  p{
    font-size: 20px;
  }
  h2{
    // border-bottom: 2px solid var(--black);
    font-family: 'Koppig1-Regular';
    margin-bottom: 0;
    font-size: 30px;
  }
  h3{
    padding: 5px 10px 2px 10px;
    border-radius: 5px;
    font-family: 'Koppig1-Regular';
    font-size: 30px;
    width: 100%;
  }
  .wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  .onderwijs{
    h3{
      background-color: var(--blue);
    }
  }
  .kunst{
    h3{
      background-color: var(--yellow);
    }
  }
  .samenleving{
    h3{
      background-color: var(--pink);
    }
  }
  .date{
    margin: 0;
  }
  .agenda-item{
    margin-top: 14px;
    margin-bottom: 14px;
    display: block;
    width: 22.6vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    position: relative;
    border-top: 1px solid black;
    padding-top: 14px;
  }
}

.home{
  background-color: var(--pink2);
  width: 100%;
  min-height: 100vh;
}

.agenda-page{
  background-color: var(--yellow2);
  min-height: 100vh;
  .agenda{
    margin-top: 0;
  }
}

.archief{
  // background-color: var(--purple);
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
  min-height: 100vh;
  .projects-list{
    margin-top: 48px;
    margin-bottom: 48px;
    .project{
      margin: 5px;
      padding: 5px 20px;
      border-radius: 10px;
    }
  }
  .onderwijs{
    background-color: var(--blue);
  }
  .kunst{
    background-color: var(--yellow);
  }
  .samenleving{
    background-color: var(--pink );
  }
}

.image-container {
  // display: none;
  visibility: hidden;
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  transition: all 0.4s ease;
}

.project-link:hover .image-container {
  // display: block;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes heightAni {
	0% {
		max-height: 0;
	}
	100% {
		max-height: 60vh;
	}
}


.page{
  min-height: 100vh;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
  &.kunst{
    background-color: var(--yellow2);
    .project h2:hover{
      color: var(--oker);
    }
  }
  &.onderwijs{
    background-color: var(--blue2);
  }
  &.samenleving{
    background-color: var(--pink2);
    .project h2:hover{
      color: var(--purple);
    }
  }
}

.projects-list{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  .project{
    margin-right: 48px;
    h3{
      margin: 0;
      font-family: "new-hero", sans-serif;
      font-weight: 500;
      transition: color 0.3s ease;
      &:hover{
        font-family:'Koppig1-Regular';
        letter-spacing: 1px;
      }
    }
  }
}

img{
  width: 100%;
  height: auto;
}

.share{
  margin-right: 2vw;
  display: flex;
  justify-content: end;
  margin-top: 48px;
  &:hover {
    animation: shake 0.75s; 
    animation-iteration-count: infinite; 
  }
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.projects{
  margin-top: 30vh;
  margin-left: 55%;
  transform: translateX(-50%);
}

.projects a{
  font-family:'Koppig1-Regular';
  font-size: 64px;
  color: black;
  text-decoration: none;
}

.agenda-grid{
  display: flex;
  padding: 0 2vw;
  flex-wrap: wrap;
  .agenda-item{
    width: 20vw;
    position: relative;
    margin: 2vw;
    p{
      margin-bottom: 0;
      font-size: 18px;
    }
    p.date{
      margin-top: 0;
    }
    h3{
      margin: 0;
    }
    .image{
      position: relative;
    }
  }
}

.projects-grid-wrapper{
  padding-top: 48px;
  width: 95%;
  margin: auto;
  .title{
    font-weight: 400;
    border-bottom: 1px solid var(--black);
    font-family:'Koppig1-Regular';
  }
}

.project-grid{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  .project-item{
    width: 20vw;
    position: relative;
    margin-right: 3.5vw;
    p{
      margin-bottom: 0;
      font-size: 18px;
    }
    h3{
      // font-family:'Koppig1-Regular';
      margin: 0 0 10px 0;
      font-weight: 400;
      // font-size: 30px;
    }
   
    img{
      aspect-ratio: 4/3;
      object-fit: cover;
    }
  }
}

footer{
  display: flex;
  margin: 0px 3vw;
  padding: 24px 0;
  border-top: 1px solid black;
  .column{
    width: 20%;
    margin-right: 2%;
    &:last-child{
      margin-right: 0;
    }
  }
  h3{
    font-family:'Koppig1-Regular';
  }
  p{
    font-size: 16px;
  }
}

@media only screen and (max-width: 900px) {
  footer{
    flex-direction: column;
    .column{
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
  .ant{
    height: 35vh;
    max-width: 100vw;
    left: 0;
    transform: translate(0);
    top: 80px;
    bottom: auto;
  }
  .agenda{
    width: 95%;
    position: relative;
    margin-top: 40vh;
    padding: 0;
    padding-bottom: 100px;
    h2{
      margin-top: 0;
      font-size: 30px;
    }
    .date{
      font-size: 16px;
    }
    .wrapper{
      flex-direction: column;
    }
    .agenda-item{
      width: 100%;
    }
  }
  .page-title{
    font-size: 36px;
  }
  .image-text{
    flex-direction: column;
    width: 90vw;
    margin-left: 5vw;
    .img{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .text{
      width: 100%;
      margin-top: 24px;
      padding-left: 0;
    }
  }
  p{
    font-size: 18px;
  }
  .agenda-grid{
    justify-content: space-between;
    margin-top: 24px;
    .agenda-item{
      width: 44%;
      padding-bottom: 14px;
      .date{
        font-size: 16px;
      }
    }
  }
  .project-grid{
    .project-item{
      width: 100%;
      padding-bottom: 14px;
    }
  }
  
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 20px;
  }

  .archief{
    .projects-list{
      margin-top: 24px;
    }
  }
  .projects-list{
    padding: 0 2.5vw;
    margin-left: auto;
    margin-right: auto;
    .project{
      margin-right: 24px;
      margin-left: 24px;
    }
  }

}

