.menu img{
  position: fixed;
  top: 30px;
  right: 2.5vw;
  margin-top: 0;
  z-index: 9;
  width: 40px;
  transform: rotate(0deg);
  transition: all 0.4s ease;
}

.menu.open img{
  transform: rotate(-90deg);
}

.logo {
  display: block;
  margin: auto;
  width: fit-content;
  font-size: 48px;
  padding-top: 14px;
}

.frame h3{
  font-family: "Koppig1-Regular";
  font-size: 36px;
  border-bottom: 1px solid black;
  width: 100%;
}

.frame a{
  display: block;
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin-top: 14px;
}

.frame {
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 14px;
  right: -400px;
  /* max-width: 175px; */
  background-color: var(--grey);
  padding: 48px 24px 24px 24px;
  z-index: 8;
}

.frame.open {
  right: 1vw;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 30px;
  }
  .menu img{
    height: 40px;
    top: 25px;
  }
  .menu.open img{
    right: 5vw;
  }
}